/*=====Login Form====*/
#loginform
{
	padding: 20px 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	width: 400px;
}
#loginform label
{
	font-weight: bold;
	margin-top: 10px;
	display: block;
	font-size: 14px;
	margin: 0px 20px;
}
#loginform .loginbutton, #loginform .forgotbutton
{
	background: #25AAE1;
	padding: 8px 10px;
	color: #FFF;
	border: 0px;
	cursor: pointer;
	font-size: 13px;
	margin-left: 5px;
	display: inline-block;
}
#loginform .loginbutton:hover, #loginform .forgotbutton:hover
{
	background: #008EFF;
}
#loginform #navbar_username,#loginform #navbar_password,#loginform #navbar_password_hint
{
	padding: 8px;
	font-size: 13px;
	display: block;
	margin: 0px 20px;
	width: 340px;
}
#loginform .remember
{
	margin: 5px 0px;
}
#loginform .actionbutton
{
	text-align: right;
	margin: 0px 20px;
}

/*=====Login Form====*/


